<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Loan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
ul.a {
  list-style-type: circle;
}

</style>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>

<header>

    <a href="/" class="logo"><span>SilverCoin</span>BANK<i class="fa fa-bank"></i></a>
    

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fa fa-bars"></label>

    <nav class="navbar">
        <a href="/">home<i class="fa fa-home"></i></a>
        <a href="/openAccount">Create Account<i class="fa fa-user-plus"></i></a>
        <a href="/fundTransfer">Fund Transfer<i class="fa fa-exchange"></i></a>
        <a onclick="scrollService();">Loan<i class="fas fa-donate"></i></a>
        <a href="/eStatement">E_Statment<i class="fas fa-receipt"></i></a>
        <a href="/update">Updation<i class="fas fa-cash-register"></i></a>
        <a href="../cibilScore">Cibil Score<i class="fas fa-balance-scale"></i></a>
        <a href="/card">My Card<i class="fa fa-credit-card" ></i></a>
        <a href="/equity/0">Equity info<i class="fa fa-star" ></i></a>
    </nav>

</header>

<br>
<br>
    <section class="features" id="features">
    <div class="box-container">
        <div class="box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvsdySh_vENNFlPeZlS6qYwNjiwonJDwa1z8rGF6EU8nSh7JGHh1YyCV9W5eYG5YY-XXQ&usqp=CAU" alt="">
            <h3 style="color: blueviolet;">Education loan</h3>
            <p>Going abroad for higher studies? Or there’s a course that is domestic and expensive? Whatever be your reason for higher studies, it’s understood that higher education is often very expensive, with the rising cost of education. But that shouldn’t stop you!</p>
        <p>We, at SilverCoin Bank, understand about your career aspirations and offer the needed Student Loans, for successfully aiding your journey to higher education. Getting an Education Loan through SilverCoin Bank is an easy and simple process. We aim at providing financial support for aspiring students, for pursuing professional higher education in India and overseas.</p>
        <a href="#" class="btn">AVAIL EDUCATION LOAN NOW</a>
    </div>

    </div>

    </section>
</body>
</html>