<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Loan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
ul.a {
  list-style-type: circle;
}

</style>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>

<header>

    <a href="/" class="logo"><span>SilverCoin</span>BANK<i class="fa fa-bank"></i></a>
    

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fa fa-bars"></label>

    <nav class="navbar">
        <a href="/">home<i class="fa fa-home"></i></a>
        <a href="/openAccount">Create Account<i class="fa fa-user-plus"></i></a>
        <a href="/fundTransfer">Fund Transfer<i class="fa fa-exchange"></i></a>
        <a onclick="scrollService();">Loan<i class="fas fa-donate"></i></a>
        <a href="/eStatement">E_Statment<i class="fas fa-receipt"></i></a>
        <a href="/update">Updation<i class="fas fa-cash-register"></i></a>
        <a href="../cibilScore">Cibil Score<i class="fas fa-balance-scale"></i></a>
        <a href="/card">My Card<i class="fa fa-credit-card" ></i></a>
        <a href="/equity/0">Equity info<i class="fa fa-star" ></i></a>
    </nav>

</header>
<br>
<br>
    <section class="features" id="features">
    <div class="box-container">
        
        <div class="box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMMMjiU5Skyp4Hgxz2cusqdKHU_Ry6SsgUCX_09D_yvkWqrgHggFWN_HTC2l0c4GtW-jI&usqp=CAU" alt="">
            <h3 style="color: blueviolet;">Home Loan</h3>
            <p>SilverCoin Bank Home Loan is your one stop solution for owning your dream home. Whether you want to purchase a house or construct a new one, we offer a wide range of products well suited to meet your housing loan requirement . We offer affordable home loans at attractive rate of interest rates for tenure up to 30 years.<br>

                Avail digital sanction of your home loan in 5 simple steps through SilverCoin Bank Express Home Loan, a self-service digital platform for our existing as well as non ICICI Bank customers. Non Resident Indian (NRIs) can also avail digital sanction of their home loan through this platform. The documents required to avail home loan are kept very minimal to make your home loan journey hassle free.<br>
                
                Further, before you apply for Home Loans you can check your loan eligibility with our ‘Home Loan Eligibility Calculator” and also calculate your monthly EMI with our ‘EMI Calculator’ 
                SilverCoin Bank.</p>
                <h3 style="color: blueviolet;"> For details, give us a call on 9020000000  <i class="fa fa-phone"></i></h3>
        </div>
    </div>
    </section>
</body>
</html>