<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Loan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
ul.a {
  list-style-type: circle;
}

</style>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>

<header>

    <a href="/" class="logo"><span>SilverCoin</span>BANK<i class="fa fa-bank"></i></a>
    

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fa fa-bars"></label>

    <nav class="navbar">
        <a href="/">home<i class="fa fa-home"></i></a>
        <a href="/openAccount">Create Account<i class="fa fa-user-plus"></i></a>
        <a href="/fundTransfer">Fund Transfer<i class="fa fa-exchange"></i></a>
        <a onclick="scrollService();">Loan<i class="fas fa-donate"></i></a>
        <a href="/eStatement">E_Statment<i class="fas fa-receipt"></i></a>
        <a href="/update">Updation<i class="fas fa-cash-register"></i></a>
        <a href="../cibilScore">Cibil Score<i class="fas fa-balance-scale"></i></a>
        <a href="/card">My Card<i class="fa fa-credit-card" ></i></a>
        <a href="/equity/0">Equity info<i class="fa fa-star" ></i></a>
    </nav>

</header>

<br>
<br>
    <section class="features" id="features">
    <div class="box-container">
        <div class="box">
        <img src="https://previews.123rf.com/images/netsay/netsay1704/netsay170403512/75642189-personal-loan-sign-on-white-paper-man-hand-holding-paper-with-text-isolated-on-white-background-busi.jpg" alt="">
                    <h3 style="color: blueviolet;">personal loan</h3>
                    <p>Avail of a Personal Loan of up to Rs 25 lakh at interest rates starting from 10.5% per annum and meet personal urgencies that can crop up anytime in life. The quick approval process of Personal Loans from SilverCoin Bank ensures you have an easy borrowing experience. Also, with our instant Personal Loan online services, you can get the funds within 3 seconds.</p>
                    <p>Planning to take a Personal Loan? Use this Personal Loan EMI Calculator to estimate the EMI amount payable per month to repay the Personal Loan. The Personal Loan EMI Calculator is easy to use. All you need to select is the:

                        Loan amount ranging from ₹ 50,000 to ₹ 25 lakh,
                        Interest Rate (starting from 10.5%* p.a.),
                        Loan Tenure (ranging from 12 – 72* months).
                         
                        
                        After selecting the Loan Amount, Interest Rate per annum and the Loan Tenure, the calculator will estimate the monthly EMI amount and the total Interest payable till the end of the loan tenure. You can also hover your mouse on the graph to view the Balance Loan Amount (Principle Outstanding) and the Interest accumulated till a particular period.</p>
                    <a href="#" class="btn">PERSONAL LOAN IN 3 SECOND</a>
                </div>
    </div>

</section>
</body>
</html>